/********************** Layout *****************/

/* class-> oluşturmak için: . koy 
    id-> oluşturmak için: # koy.
*/


ul > li :first-child {
    color: blue;
}

body{
    background-color: aquamarine;
font-family: 'Times New Roman', Times, serif;
}

h1, h2, h3, h4, h5, h6 {
    color: crimson;
    text-transform: uppercase;
}



#first-article {
    font-size: 40px;
}

.text-red{
    color: red;
}

.fs-25 {
    font-size: 15px;
}

.fs-30 {
    font-size: 30px;
}

.fs-45{
    font-size: 45px;
}